body {
    background: none;
    background-image: url('img/body-background.jpg');
}

div.container {
    background-color: #ffffff;
    box-shadow: 1px 1px 2px #aaaaaa;
    margin-bottom: 100px;
}
    header img[src*="logo"] {
        width: 300px;
        margin: 0px;
        margin: 0;
        padding: 0;
    }
    header img[src*="army"] {
        width: 840px;
        margin-left: -4px;
        padding: 0;
    }
    .main {
        border: 1px solid #1e5799;
        margin: 10px;
        border-radius: 5px;
        background-image: url('img/body-background.jpg');
        box-shadow: inset 0px 1px 20px #1e5799;
        font-family: Tahoma;
    }
    .sep {
        margin-left: 15px;
    }
#reg-form>div {
    margin: 10px;

}
.register {
    margin: 10px;

}
#create-account {
    border: 1px solid #1e5799;
    width: 270px;
    margin: 5px;
    padding: 10px;
    padding-left: 10px;
    background-color: lightskyblue;
    display: inline-block;
    border-radius: 5px;
    color: lightslategrey;
     
}
#create-account:hover {
    background-color: white;
}
.social-buttons {
    border: 1px solid #1e5799;
    width: 100px;
    margin: 10px;
    padding: 10px;
    padding-left: 20px;
    background-color: lightskyblue;
    display: inline-block;
    border-radius: 5px;
       margin-left: 20px;
}
.social-buttons:hover {
    background-color: white;
}
a {
    color: lightslategrey;
    text-decoration: none;
}
nav ul {
    list-style-type: none;
    background: #e2e2e2; /* Old browsers */
    background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */

    border-bottom: 1px solid #1e5799;

}


    nav ul li {
        display: inline-block;
        padding: 10px;
        margin: 0px;
        border-right: 1px solid #1e5799;
    }

    nav ul li:hover {
        background: #1e5799; /* Old browsers */
        background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    }

        nav ul li:hover a {
            color: #ffffff;
            text-decoration: none;
        }


aside {
    background-color: #234465;
    padding: 20px;
    margin-bottom: 15px;
}
aside header {
    background-image: none;
    border: none;
    height: auto;
}

    aside header h3{
        color: #FF9C00;
    }

    aside article h4 {
        color: #FF9C00;
    }

    aside article p {
        color: #ffffff;
    }

footer {
    background-color: #234465;
    height: 100px;
    text-align: center;
    color: #ffffff;
    padding-top: 40px;
}

article.about img{
    height: 250px;
    float: right;
}

.blue {
    color: #234465;
}

.orange {
    color: #FF9C00;
}

article.trainer img{
    margin-right: 15px;
    margin-bottom: 15px;
    float: left;
}

div.panel-group {
    padding-bottom: 50px;
}

article.news img{
    margin-right: 15px;
    margin-bottom: 15px;
    float: left;
}
.btn-primary {
    margin-bottom: 10px;
}
.btn-primary:hover {
    cursor: pointer;
    box-shadow: inset 10px 5px 5px #234465;
}







/*tova e za novinite */
div.row div.col-md-4.news {
        display: inline-block;
        width: 280px;
        height: 415px;
        background-color: #ffffff;
        box-shadow: 1px 1px 2px #808080;
        margin: 15px;
    }

        div.row div.col-md-4.news a {
            text-decoration: none;
        }

        div.row div.col-md-4.news h5 {
            font-size: 16px;
            padding-left: 20px;
            padding-right: 20px;
            color: #2A6496;
            padding-top: 20px;
        }

        div.row div.col-md-4.news p {
            color: #999999;
        }

        div.row div.col-md-4.news p.date {
            float: right;
            margin-right: 20px;
            margin-top: -40px;
        }

        div.row div.col-md-4.news p.publish {
            float: left;
            margin-left: 20px;
            margin-top: -10px;
            font-size: 16px;
        }

        div.row div.col-md-4.news p.info {
            float: left;
            margin-left: 20px;
            margin-top: 20px;
            font-size: 15px;
        }

        div.row div.col-md-4.news p.tags {
            float: left;
            margin-left: 20px;
            margin-top: 10px;
            font-size: 13px;
        }

            div.row div.col-md-4.news p.tags span {
                font-weight: bolder;
                color: #000000;
            }

        div.row div.col-md-4.news hr {
            width: 270px;
            margin-top: 60px;
            margin-left: 30px;
            margin-right: 30px;
        }

        div.row div.col-md-4.news img {
            text-align: center;
            vertical-align: middle;
            margin-left: 40px;
            margin-top: 20px;
            width: 270px;
        }

img.hovergallery {
                            -webkit-transform: scale(1.0); /*Webkit: Scale down image to 0.8x original size*/
                            -moz-transform: scale(1.0); /*Mozilla scale version*/
                            -o-transform: scale(1.0); /*Opera scale version*/
                            -webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/
                            -moz-transition-duration: 0.5s; /*Mozilla duration version*/
                            -o-transition-duration: 0.5s; /*Opera duration version*/
                            opacity: 0.7; /*initial opacity of images*/
                            margin:0px 0px 0px; /*margin between images*/
                        }

                             img.hovergallery:hover {
                                -webkit-transform: scale(1.7); /*Webkit: Scale up image to 1.2x original size*/
                                -moz-transform: scale(1.7); /*Mozilla scale version*/
                                -o-transform: scale(1.7); /*Opera scale version*/
                                box-shadow: 0px 0px 30px gray; /*CSS3 shadow: 30px blurred shadow all around image*/
                                -webkit-box-shadow: 0px 0px 30px gray; /*Safari shadow version*/
                                -moz-box-shadow: 0px 0px 30px gray; /*Mozilla shadow version*/
                                opacity: 1;
                                z-index: 2;
                                position: absolute;
                            }